@model IEnumerable<DoAn3DVH.Models.HoaDonBan>
@{
    ViewBag.Title = "HoaDonBan";
    Layout = "~/Views/LayoutAdmin.cshtml";
}
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Quản lý Hoá Đơn Bán</h4>
                            <button class="btn btn-primary btn-round ml-auto" onclick="addOneHDB()">
                                <i class="fa fa-plus"></i>
                                Thêm Nhà Hoá đơn bán
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="./addHDB" method="post" enctype="multipart/form-data">
                            <!-- Modal -->
                            <div class="modal fade" id="addOne" tabindex="-1" role="dialog" aria-hidden="true">
                                <input type="hidden" name="aoe" id="aoe" value="1" />
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header no-bd">
                                            <h5 class="modal-title">
                                                <span class="fw-mediumbold">
                                                    Thêm
                                                </span>
                                                <span class="fw-light">
                                                    Mới
                                                </span>
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6 pr-0" id="hidemaHoaDonBan">
                                                    <div class="form-group form-group-default">
                                                        <label>Mã hoá đơn bán</label>
                                                        <input id="aMHDB" name="aMHDB" type="text" class="form-control" placeholder="Điền vào">
                                                    </div>
                                                </div>
                                                <div class="col-md-6" id="hidetenTk">
                                                    <div class="form-group form-group-default">
                                                        <label>Tên tài khoản</label>
                                                        <input id="atenTk" name="atenTk" type="text" class="form-control" placeholder="Điền vào">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Ngày Bán</label>
                                                        <input id="angay" name="angay" type="text" class="form-control" placeholder="Điền vào">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer no-bd">
                                            <button type="submit" id="addRowButton" class="btn btn-primary">Thực hiện</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <div class="col-sm-12">
                                <table id="add-row" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="add-row_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 193px;">Mã hoá đơn bán</th>
                                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 283px;">Tên tài khoản</th>
                                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 152px;">Ngày bán</th>
                                            <th style="width: 127px;" class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">@i.maHoaDonBan</td>
                                                <td>@i.tenTk</td>
                                                <td>@i.ngayBan</td>
                                                <td>
                                                    <div class="form-button-action">
                                                        <button class="btn btn-link btn-primary btn-lg" onclick="editOneHDb('@i.maHoaDonBan')">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <a class="btn btn-link btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xoá Hoá đơn bán này không?')" href="./XoaHDB/@i.maHoaDonBan">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addOneHDB() {
        $("#aoe").val("1");
        $("#aMHDB").val("");
        $("#atenTk").val("");
        $("#angay").val("");
        $('#addOne').modal("show");
        $("#hidemaHoaDonBan").show();
        $("#hidetenTk").show();
    }
    function editOneHDb(id) {
        $("#aoe").val("0");
        $("#hidemaHoaDonBan").hide();
        $("#hidetenTk").hide();
        $.get("/Admin/get1HDB", { id: id }, function (data) {
            $("#aMHDB").val(data.maHoaDonBan);
            $("#atenTk").val(data.tenTk);
            $("#angay").val(data.ngayBan);
        });
        $('#addOne').modal("show");
    }
</script>

